<div class="row mp-top-body">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="mp-title">Music Soundbox</h1>
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="input-group mp-search-input">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" aria-label="Search MP">
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="row">
    <div class="col-xs-12 text-center">
      <button type="button" class="btn btn-primary">Search MP</button>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="mp-trending-header">Top 5 Trending</h2>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1 mp-album-art">
    <img src="">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2 mp-album-art">
    <img src="">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2 mp-album-art">
    <img src="">
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 mp-album-art">
    <img src="">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2 mp-album-art">
    <img src="">
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12">
    <img class="pull-right mp-musical-note" src="src/assets/img/music_note.png"
         [@musicalNoteVisibleState]="elementDict.musicalNote.isVisible" #musicalNote>
  </div>
</div>

<div class="row mp-bottom-body">
  <div class="col-xs-12">
    <div class="row" [@searchVisibleState]="elementDict.searchText.isVisible" #searchText>
      <div class="col-xs-12">
        <h2 class="mp-main-header">Things to do on MP</h2>
      </div>
      <div class="col-xs-12 mp-subheader">Search</div>
      <div class="col-xs-12 mp-body-text">Search for your favorite songs</div>
    </div>
    <div class="row" [@listenVisibleState]="elementDict.listenText.isVisible" #listenText>
      <div class="col-xs-12 mp-subheader">Listen</div>
      <div class="col-xs-12 mp-body-text">Listen to some of the best music the web has to offer</div>
    </div>
    <div class="row" [@uploadVisibleState]="elementDict.uploadText.isVisible" #uploadText>
      <div class="col-xs-12 mp-subheader">Upload</div>
      <div class="col-xs-12 mp-body-text">Upload your own songs as an artist</div>
    </div>
  </div>
</div>
