<div class="row">
  <div class="mp-registration-header col-xs-12">
    <h1>Join the Music Project</h1>
  </div>
</div>
<div class="row">
  <form class="mp-form-registration" novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">

    <div class="form-group">
      <div class="mp-form-error" *ngIf="user.get('username').hasError('required') && user.get('username').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">A username is required</span>
      </div>
      <div class="mp-form-error" *ngIf="user.get('username').hasError('minlength') && user.get('username').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">Must have a minimum of 2 characters</span>
      </div>
      <div class="mp-form-error" *ngIf="user.get('username').hasError('maxlength') && user.get('username').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">Username can only have a maximum of 30 characters</span>
      </div>
      <div class="mp-input-block">
        <label>
          <span>Username</span>
        </label>
        <div class="mp-input-wrapper">
          <i *ngIf="user.get('username').status === 'INVALID' && user.get('username').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <i *ngIf="user.get('username').status === 'VALID' && user.get('username').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="text" class="form-control" name="name" placeholder="Username"  validateOnBlur [validateFormControl]="user.get('username')" formControlName="username">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="mp-form-error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">An email address is required</span>
      </div>
      <div class="mp-form-error" *ngIf="user.get('email').hasError('email') && user.get('email').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">Invalid email address</span>
      </div>
      <div class="mp-input-block">
        <label>
          <span>Email</span>
        </label>
          <div class="mp-input-wrapper">
            <i *ngIf="user.get('email').status === 'INVALID' && user.get('email').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i *ngIf="user.get('email').status === 'VALID' && user.get('email').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="email" name="email" class="form-control" validateOnBlur [validateFormControl]="user.get('email')" placeholder="Email Address" formControlName="email">
          </div>
        </div>
      </div>


    <div formGroupName="account">
      <div class="mp-form-error" *ngIf="user.get('account').get('password').hasError('required') && user.get('account').get('password').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">Password is required</span>
      </div>
      <div class="mp-form-error" *ngIf="user.get('account').get('password').hasError('minlength') && user.get('account').get('password').touched">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">Must have a minimum of 8 characters</span>
      </div>
      <div class="form-group">
        <div class="mp-input-block">
          <label>
            <span>Password</span>
          </label>
          <div class="mp-input-wrapper">
            <i *ngIf="user.get('account').get('password').status === 'INVALID' && user.get('account').get('password').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i *ngIf="user.get('account').get('password').status === 'VALID' && user.get('account').get('password').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="password" name="password" class="form-control" placeholder="Password" validateOnBlur [validateFormControl]="user.get('account').get('password')" formControlName="password">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="mp-form-error" *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <span class="mp-form-error-message">Please confirm your password</span>
        </div>

        <div class="mp-input-block">
          <label>
            <span>Confirm Password</span>
          </label>
          <div class="mp-input-wrapper">
            <i *ngIf="user.get('account').get('confirm').status === 'INVALID' && user.get('account').get('confirm').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i *ngIf="user.get('account').get('confirm').status === 'VALID' && user.get('account').get('confirm').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" validateOnBlur [validateFormControl]="user.get('account').get('confirm')" formControlName="confirm">
          </div>
       </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="user.invalid">SIGN UP</button>
    </div>
  </form>
</div>
