<div class="row">
  <div class="mp-registration-header col-xs-12">
    <h1>Join the Music Project</h1>
  </div>
</div>
<div class="row">
  <form class="mp-form-registration" novalidate (ngSubmit)="onSubmit(registrationForm)" [formGroup]="registrationForm">

    <div class="form-group">
      <div class="mp-form-error" *ngIf="formErrors.username">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">{{formErrors.username}}</span>
      </div>

      <div class="mp-input-block">
        <label>
          <span>Username</span>
        </label>
        <div class="mp-input-wrapper">
          <i *ngIf="registrationForm.get('username').status === 'INVALID' && registrationForm.get('username').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <i *ngIf="registrationForm.get('username').status === 'VALID' && registrationForm.get('username').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="text" [ngClass]="{'mp-form-outline-green': registrationForm.get('username').status === 'VALID' && registrationForm.get('username').dirty, 'mp-form-outline-red': registrationForm.get('username').status === 'INVALID' && registrationForm.get('username').dirty}" class="form-control input-override"
              name="name" placeholder="Username" validateOnBlur [validateFormControl]="registrationForm.get('username')" formControlName="username">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="mp-form-error" *ngIf="formErrors.email">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">{{formErrors.email}}</span>
      </div>
      <div class="mp-input-block">
        <label>
          <span>Email</span>
        </label>
        <div class="mp-input-wrapper">
          <i *ngIf="registrationForm.get('email').status === 'INVALID' && registrationForm.get('email').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <i *ngIf="registrationForm.get('email').status === 'VALID' && registrationForm.get('email').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="email" name="email" [ngClass]="{'mp-form-outline-green': registrationForm.get('email').status === 'VALID' && registrationForm.get('email').dirty, 'mp-form-outline-red': registrationForm.get('email').status === 'INVALID' && registrationForm.get('email').dirty}" class="form-control input-override"
              validateOnBlur [validateFormControl]="registrationForm.get('email')" placeholder="Email Address" formControlName="email">
        </div>
      </div>
    </div>


    <div formGroupName="account">
      <div class="mp-form-error" *ngIf="formErrors.password">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <span class="mp-form-error-message">{{formErrors.password}}</span>
      </div>
      <div class="form-group">
        <div class="mp-input-block">
          <label>
            <span>Password</span>
          </label>
          <div class="mp-input-wrapper">
            <i *ngIf="registrationForm.get('account').get('password').status === 'INVALID' && registrationForm.get('account').get('password').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i *ngIf="registrationForm.get('account').get('password').status === 'VALID' && registrationForm.get('account').get('password').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="password" name="password" [ngClass]="{'mp-form-outline-green': registrationForm.get('account').get('password').status === 'VALID' && registrationForm.get('account').get('password').dirty, 'mp-form-outline-red': registrationForm.get('account').get('password').status === 'INVALID' && registrationForm.get('account').get('password').dirty}"
                class="form-control input-override" placeholder="Password" validateOnBlur [validateFormControl]="registrationForm.get('account').get('password')" formControlName="password">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="mp-form-error" *ngIf="formErrors.confirm">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <span class="mp-form-error-message">{{formErrors.confirm}}</span>
        </div>

        <div class="mp-input-block">
          <label>
            <span>Confirm Password</span>
          </label>
          <div class="mp-input-wrapper">
            <i *ngIf="registrationForm.get('account').get('confirm').status === 'INVALID' && registrationForm.get('account').get('confirm').dirty" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i *ngIf="registrationForm.get('account').get('confirm').status === 'VALID' && registrationForm.get('account').get('confirm').dirty" class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="password" name="confirm" [ngClass]="{'mp-form-outline-green': registrationForm.get('account').get('confirm').status === 'VALID' && registrationForm.get('account').get('confirm').dirty, 'mp-form-outline-red': registrationForm.get('account').get('confirm').status === 'INVALID' && registrationForm.get('account').get('confirm').dirty}"
                class="form-control input-override" placeholder="Confirm Password" validateOnBlur [validateFormControl]="registrationForm.get('account').get('confirm')" formControlName="confirm">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid">SIGN UP</button>
    </div>
  </form>
</div>
