@import '../../styles/_variables';

.mp-login-header {
  margin-bottom: 2.0rem;
  font-size: $font-size-main-header;
  font-weight: bold;
}

.mp-login-container {
  margin: 0 0 1.5rem 5.5vw;

  label {
    font-size: $font-size-normal * 0.9;
  }

  i {
    transform: translateX(-2.0rem) translateY(-1.4rem);
    display: inline-block;
    font-size: 1.6rem;
  }

  input {
    display: inline-block;
  }

  input, .alert-danger {
    width: 44%;
    min-width: $screen-xs * 0.70;
  }

  .fa-exclamation-circle {
    color: $state-danger-text;
  }

  .fa-check-circle {
    color: $state-success-text;
  }

  .mp-outline-red {
    //outline: none;
    border-color: $state-danger-border;
  }

  .mp-outline-green {
    //outline: none;
    border-color: $state-success-border;
  }

  .alert-danger {
    margin: 0;
  }

}

@media all and (min-width: $screen-sm) {
  .mp-login-header {
    font-size: $font-size-main-header;
  }

  .mp-login-container {
    margin-left: 1.0vw;
  }

}
