// ----------------------------------------------------------- //
// ------------------------ MP CUSTOM ------------------------ //
// ----------------------------------------------------------- //

$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$mc-navy-blue: #002f6c;
$mc-orange: #E57200;

$ac-lighter-blue: #4a7dbd;
$ac-lighter-orange: #Fd8505;

$nc-white: #fff;
$nc-black: #000;
$nc-gray: #191919;

$i1Oc-orange-o41: rgba(255,83,13,0.41);
$i2Oc-blue-o71: rgba(31,47,76,0.71);
