$MC_NavyBlue: #002f6c;
$MC_Orange: #E57200;

$AC_LighterBlue: #4a7dbd;
$AC_LighterOrange: #Fd8505;

$NC_White: #fff;
$NC_Black: #000;
$NC_Gray: #191919;

$I1OC_Orange_O41: rgba(255,83,13,0.41);
$I2OC_Blue_O71: rgba(31,47,76,0.71);
