<footer class="footer mp-footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <ul class="nav">
          <li><h3 class="mp-footer-sub-header">Company</h3></li>
          <li><a href="about">About</a></li>
          <li><a href="jobs">Jobs</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul class="nav">
          <li><h3 class="mp-footer-sub-header">Communities</h3></li>
          <li><a href="artists">Artists</a></li>
          <li><a href="forums">Forums</a></li>
          <li><a href="facebook">Facebook</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="mp-copyright">&copy; 2017 MP</div>
      </div>
    </div>

  </div>
</footer>
