<div *ngIf="isSongAvailable" class="row mp-song-container">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <img src={{song.imgurl}} alt={{song.alttext}} width="300" height="300">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-md-3">
        <button type="button" (click)="play()" class="btn btn-primary mp-play">
          <span class="mp-play-text"><strong><i class="fa fa-play" aria-hidden="true"></i></strong></span>
        </button>
      </div>
      <div class="col-xs-3 col-sm-2 col-md-3">
        <button type="button" (click)="pause()" class="btn btn-primary mp-play">
          <span class="mp-play-text"><strong><i class="fa fa-pause" aria-hidden="true"></i></strong></span>
        </button>
      </div>
      <div class="col-xs-3 col-sm-2 col-md-3">
        <button type="button" (click)="stop()" class="btn btn-primary mp-play">
          <span class="mp-play-text"><strong><i class="fa fa-stop" aria-hidden="true"></i></strong></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="mp-song-title">
      <span>{{song.name}}</span>
    </div>
    <div class="mp-song-description">
      {{song.description}}
    </div>
    <div class="mp-song-credit">
      <span>Artist: <a href={{song.artist}}>{{song.artist}}</a></span>
    </div>
  </div>
</div>
