<div class="row mp-song-container">
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<img src={{song.imgURL}} alt={{song.alt}} width="300" height="300">
</div>
<div class="col-md-12">
<button type="button" (click)="play(song.musicURL)" class="btn btn-primary mp-play"><span class="mp-play-text"><strong>{{playMessage}}</strong></span></button>
</div>
</div>
</div>
<div class="col-md-8">
<div class="mp-song-title">
  <span>{{song.name}}</span>
</div>
<div class="mp-song-description">
{{song.description}}
</div>
<div class="mp-song-credit">
<span>Music: <a href={{song.credit}}>{{song.credit}}</a></span>
</div>
</div>
</div>
